*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Quicksand";
  background: #cfcfcf;
  padding: 10px;
}

a{
  color: #aacbff;
  text-decoration:none;
}

h1, h2, h3, h4, h5, h6, p{line-height: 30px;}

i{color: #ff558b;}

#header h2, #header h6{color: white;}

main{
  width: calc(100vw - 20px);
  min-height: calc(100vh - 20px);
}

pre{
  color: white;
  background: rgba(25, 25, 25, 0.6);
  padding: 5px 15px;
  border-radius: 6px;
  overflow: auto;
}

ul li {
  list-style-type: none;
  margin: 4px 10px;
}

.output ul li{
  list-style-type: disc;
  margin-left: 40px;
}
.output ol li{
  margin-left: 40px;
}
.output a{
  text-decoration: underline;
  color: blue;
}

li code{
  background: #eee;
  color: darkblue;
  border-radius: 2px;
  padding: 3px 5px;
}

.element{
  padding: 10px;
  border-radius: 3px;
  background: white;
  margin-bottom: 10px;
}

.element-name{
  color: #3a4574;
}

.info{
  border-left: 5px solid #4a5594;
  padding: 10px;
}

.sub-cont{
  background: rgba(0,0,0,0.4);
  padding: 5px;
  border-radius: 5px;
}

#header{
  display: flex;
  align-items: center;
  margin: 5px;
}

#header a img{
  border-radius: 50%;
  border: 2px solid white;
  margin: 2px 20px 3px 0;
}

.output{
  width: calc(100% - 20px);
  border-radius: 5px;
  padding: 10px;
  font-family: "Verdana";
  background: #eaeaea;
}

.content ul a{
  color: #8099c1;
}
